<!DOCTYPE html>
<html>
<head lang="ja">
<META http-equiv="Content-Type" content="text/html; charset=utf8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="description" content=""/>
<meta name="keywords" content="エンジニア,リソース,時間"/>
<meta name="createdate" content="2016-02-28"/>
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="article" />
<meta property="og:title" content="エンジニアを「リソース」と呼ぶのは悪か｜ぬるぶろ" />
<meta property="og:description" content="" />
<meta property="og:site_name" content="ぬるぶろ" />
<meta property="article:author" content="https://github.com/nullblog/" />
<meta property="fb:app_id" content="668279799978855" />
<title>エンジニアを「リソース」と呼ぶのは悪か｜ぬるぶろ</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NWH746"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWH746');</script>
<!-- End Google Tag Manager -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=668279799978855";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
(function() {
  var cx = '016288219579585099976:kl3aw8lrnoo';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ぬるぶろ</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">ホーム</a></li>
        <li class="active"><a href="/blog/">ブログ</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="row">
        <h1 class='col-md-6 col-md-offset-3'>ぬるぶろ</h1>
        <small class='col-md-3 text-right'>更新日:2016-02-28</small>
      </div>
    </div>
    <div id="col-left" class="col-md-3 col-left text-center">
      <div class="row">
        <div class="col-xs-12">
          <gcse:search></gcse:search>
        </div>
        <div class="col-xs-12">
          <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </div>
    <div id='col-center' class="col-md-6 col-center">
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">エンジニアを「リソース」と呼ぶのは悪か</h3>
      </div>
      <div class="panel-body">
      <p><strong>上司が飲み屋で酔っぱらっていました</strong></p>
      <p>先日、エンジニアのマネージャーである上司と飲んでいる時に</p>
      <p>何かのきっかけで</p>
      <p>「エンジニアをリソースと表現するのはやめてほしい」</p>
      <p>と言い出したのです</p>
      <p>曰く</p>
      <p>・リソースとは「資源」である</p>
      <p>・エンジニアには感情も名前もある</p>
      <p>・エンジニアを「資源」という「物」として扱わないでほしい</p>
      <p>言い分としてはわかる話なのですが</p>
      <p>どうにも腑に落ちない部分があったので</p>
      <p>わざわざブログに書いてみるわけです</p>
      <br><br>
      <p>腑に落ちないのは</p>
      <p>人格のあるエンジニアに対して</p>
      <p>「資源」という意味を当てはめる意図があって</p>
      <p>「リソース」という言葉を使っているかどうかです</p>
      <p>人に対して言われている言葉ではないのではないかと</p>
      <p>そう思うのです</p>
      <p>その飲みの場で例文として使われたのは</p>
      <p>「うちのエンジニアリソースが足りていないくて」</p>
      <p>というものです</p>
      <p>カタカナ英語の難しいところで</p>
      <p>本来の英語とは意味が違うものが</p>
      <p>日本語の意味として使われていたりします</p>
      <p>時として本来伝えたいニュアンスと</p>
      <p>違う捉えられ方をする事が多々あります</p>
      <p>意図を正確に把握しないとなりませんね</p>
      <br><br>
      <p>個人的にはこういう時に使われる「リソース」は</p>
      <p>資源たる「時間」の話だと思っています</p>
      <p>エンジニアの時間</p>
      <p>営業の時間</p>
      <p>そういったものをリソースと</p>
      <p>呼んでいるに過ぎないと思っています</p>
      <p>そこには「人」を「モノ」として扱う意図はなく</p>
      <p>リソースである「時間」を扱う「人」には</p>
      <p>感情も人格もある事を十分に理解しています</p>
      <br><br>
      <p>しかし残念ながら</p>
      <p>人を人として扱えない瞬間はあります</p>
      <p>それはチームの人の顔を知らない</p>
      <p>外部の人と話す場面です</p>
      <p>これはチームメンバーの人格も名前も知らないので</p>
      <p>「エンジニア」という役割の人がいるという事ぐらいしか認識してもらえないでしょう</p>
      <p>その上で職務にかけられる時間が有限であるという意味で</p>
      <p>「エンジニアリソース」と言わざるを得ないのです</p>
      <p>そこには人数x日数という</p>
      <p>いわゆる「人月計算」という概念の元に話をするのですが</p>
      <p>内部的には適当ではないことは重々承知しています</p>
      <p>あくまでも外部の人と話をする時の</p>
      <p>共通言語としての「リソース」や「人月」の話であって</p>
      <p>実際に事業を進めていく上での表現ではない</p>
      <p>という事は理解しなくてはなりません</p>
      <br><br>
      <p>飲みの場で話題になったのは</p>
      <p>そういった外部の人とのやり取りで出てくる共通言語と</p>
      <p>内部でやり取りをする場合のあるべき表現が</p>
      <p>不一致である事に対する</p>
      <p>不満であったのかなと思います</p>
      <p>クライアントであったり業務提携先であったり</p>
      <p>外部と何かしらの関わりを持って事業を進めていくことは珍しくありませんし</p>
      <p>その際には社内で使っているものと別の共通言語を用いなくてはならない場合も多いです</p>
      <p>それがメンバーにとって気持ちの良い表現でない場合もありますが</p>
      <p>あくまでもそれは外向きの話だということ</p>
      <p>そして内部向きにどう思っているかをきちんと表現しなくてはならないということ</p>
      <p>そこを守らないと</p>
      <p>チームで仕事をするのは難しいのかなと</p>
      <p>そんなことを思ったりします</p>
      </div>
    </div>
  </div>
</div>
    </div>
    <div id="col-right" class="col-md-3 col-right">
      <div class="panel-heading">
        <h3 class="panel-title text-center">ブログ一覧</h3>
      </div>
      <div class="panel-body">
        <label for="blog-search">絞り込みform</label>
        <select id="blog-search" class="form-control">
          <option v-for="list in blogLists" value="{{ list.path }}">{{ list.genre }}</option>
        </select>
      </div>

      <table id="blog-histry" class="table table-striped">
        <tr v-for="list in blogLists">
          <td><a href="{{ list.href }}"><strong>{{ list.title }}</strong></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.blogtype }}</small></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.date }}</small></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="/js/makelist.js"></script>
</body>
</html>
