<!DOCTYPE html>
<html>
<head lang="ja">
<META http-equiv="Content-Type" content="text/html; charset=utf8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="description" content="以前の職場で新卒が子会社の社長になった時に親会社の社長と新卒社長と三人で面談をしました。「何かかける言葉はあるか」と問われた時の答えがタイトルの「経営者に必要な事は『夢』を語る事である」というものでした。"/>
<meta name="keywords" content="経営者,夢,モチベーションマネジメント"/>
<meta name="createdate" content="2016-03-20"/>
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="article" />
<meta property="og:title" content="経営者に必要な事は「夢」を語ることである｜ぬるぶろ" />
<meta property="og:description" content="以前の職場で新卒が子会社の社長になった時に親会社の社長と新卒社長と三人で面談をしました。「何かかける言葉はあるか」と問われた時の答えがタイトルの「経営者に必要な事は『夢』を語る事である」というものでした。" />
<meta property="og:site_name" content="ぬるぶろ" />
<meta property="article:author" content="https://github.com/nullblog/" />
<meta property="fb:app_id" content="668279799978855" />
<title>経営者に必要な事は「夢」を語ることである｜ぬるぶろ</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NWH746"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWH746');</script>
<!-- End Google Tag Manager -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=668279799978855";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
(function() {
  var cx = '016288219579585099976:kl3aw8lrnoo';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ぬるぶろ</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">ホーム</a></li>
        <li class="active"><a href="/blog/">ブログ</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="row">
        <h1 class='col-md-6 col-md-offset-3'>ぬるぶろ</h1>
        <small class='col-md-3 text-right'>更新日:2016-03-20</small>
      </div>
    </div>
    <div id="col-left" class="col-md-3 col-left text-center">
      <div class="row">
        <div class="col-xs-12">
          <gcse:search></gcse:search>
        </div>
        <div class="col-xs-12">
          <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </div>
    <div id='col-center' class="col-md-6 col-center">
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">経営者に必要な事は「夢」を語ることである</h3>
      </div>
      <div class="panel-body">
        <p>以前の職場で新卒が子会社の社長になった時に</p>
        <p>親会社の社長と新卒社長と三人で面談をしました。</p>
        <p>「何かかける言葉はあるか」と問われた時の答えが</p>
        <p>タイトルの「経営者に必要な事は『夢』を語る事である」</p>
        <p>というものでした。</p>
        <br><br>
        <p>経営者の素質は色々な角度で語られますが</p>
        <p>事業戦略の考え方や営業の広げ方などは</p>
        <p>別の職種でも十分に求められるスキルです。</p>
        <p>私自身が様々な経営者とお話してきた中で感じたのは</p>
        <p>夢を語る経営者に人はついてくる</p>
        <p>ということなのです。</p>
        <br><br>
        <p>起業した時、就職した時、転職した時、</p>
        <p>ビジネスマンは様々な場面で</p>
        <p>将来に対して夢を抱きワクワクしています。</p>
        <p>しかし長年同じ環境にいると</p>
        <p>人はどんどん慣れてしまいモチベーションを下げてしまうのです。</p>
        <p>モチベーションが下がると</p>
        <p>業務効率の低下、品質の低下、不満の増加</p>
        <p>転職や退職といったことも考え始めます。</p>
        <p>これらを効率よく食い止める方法は無いのでしょうか。</p>
        <br><br>
        <p>これもやはり上手に会社を経営している方を見て思ったことですが</p>
        <p>社員がキラキラと誇りをもって働いている会社は</p>
        <p>マネージャーや経営者が夢を語っていると感じました。</p>
        <p>それは個人の夢ではなく、</p>
        <p>チームのメンバーと一緒に成していきたい夢であり</p>
        <p>将来の組織や会社の成そうとしている姿の話です。</p>
        <p>そこに共感し、実現のためにする努力だから</p>
        <p>メンバーは頑張る事が出来ますし</p>
        <p>モチベーションを保ったまま組織が動いていきます。</p>
        <br><br>
        <p>「夢を語れ」は語る事が大事なのではなく</p>
        <p>語ることによってチームの共感を得て</p>
        <p>共に夢を見れる事が出来るから大事なのです。</p>
        <p>正しく同じ目標を共有して目指しているチームは</p>
        <p>周囲から見ても魅力的に見えますし</p>
        <p>他社や他のチームもそういう魅力的なチームと共に仕事をしたいと思うので</p>
        <p>良い循環が出来ます。</p>
        <p>社外の事に気を取られて社内が疎かになりがちですが</p>
        <p>内向きのマネジメントは外向きの見せ方に繋がるので</p>
        <p>きちんと向き合っていって欲しいと思うところです。</p>
      </div>
    </div>
  </div>
</div>
    </div>
    <div id="col-right" class="col-md-3 col-right">
      <div class="panel-heading">
        <h3 class="panel-title text-center">ブログ一覧</h3>
      </div>
      <div class="panel-body">
        <label for="blog-search">絞り込みform</label>
        <select id="blog-search" class="form-control">
          <option v-for="list in blogLists" value="{{ list.path }}">{{ list.genre }}</option>
        </select>
      </div>

      <table id="blog-histry" class="table table-striped">
        <tr v-for="list in blogLists">
          <td><a href="{{ list.href }}"><strong>{{ list.title }}</strong></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.blogtype }}</small></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.date }}</small></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="/js/makelist.js"></script>
</body>
</html>
