<!DOCTYPE html>
<html>
<head lang="ja">
<META http-equiv="Content-Type" content="text/html; charset=utf8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="description" content=""/>
<meta name="keywords" content="宗教、政治、仕事"/>
<meta name="createdate" content="2016-03-27"/>
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="article" />
<meta property="og:title" content="『宗教』と『政治』はビジネスの悪なのか｜ぬるぶろ" />
<meta property="og:description" content="" />
<meta property="og:site_name" content="ぬるぶろ" />
<meta property="article:author" content="https://github.com/nullblog/" />
<meta property="fb:app_id" content="668279799978855" />
<title>『宗教』と『政治』はビジネスの悪なのか｜ぬるぶろ</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NWH746"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWH746');</script>
<!-- End Google Tag Manager -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=668279799978855";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
(function() {
  var cx = '016288219579585099976:kl3aw8lrnoo';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ぬるぶろ</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">ホーム</a></li>
        <li class="active"><a href="/blog/">ブログ</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="row">
        <h1 class='col-md-6 col-md-offset-3'>ぬるぶろ</h1>
        <small class='col-md-3 text-right'>更新日:2016-03-27</small>
      </div>
    </div>
    <div id="col-left" class="col-md-3 col-left text-center">
      <div class="row">
        <div class="col-xs-12">
          <gcse:search></gcse:search>
        </div>
        <div class="col-xs-12">
          <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="5277947892" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
    </div>
    <div id='col-center' class="col-md-6 col-center">
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">『宗教』と『政治』はビジネスの悪なのか</h3>
      </div>
      <div class="panel-body">
        <p>以前キャバクラで飲んでいる時に席についてくれた女性に教えてもらいましたが</p>
        <p>接客の時に「政治」と「宗教」の話はNGなのだそうです。</p>
        <p>別の日に上司と飲んでいる時に</p>
        <p>稟議を通すための根回しを「政治」と表現したら</p>
        <p>『政治とは穏やかじゃないね。政治がある会社には俺はいたくない』と</p>
        <p>大変憤慨していました。</p>
        <p>前職の社長と話していた時には</p>
        <p>エンジニアのどのエディターが好きかは宗教上の違いだと言われました。</p>
        <br><br>
        <p>本来の意味での「宗教」や「政治」は</p>
        <p>一緒に仕事をする上でおよそ関係がないパーソナルな部分ですし</p>
        <p>日本では信仰や政治思想の自由が認められていますので</p>
        <p>仕事上の大きな弊害にならないのであれば</p>
        <p>特にお互いに開示することもないでしょう</p>
        <p>それはまさにキャバクラで聞いた</p>
        <p>「『政治』と『宗教』の話はNG」ということなのだと思います</p>
        <p>しかし別のニュアンスの時も確かに</p>
        <p>政治と宗教の話は嫌がられる事が多いです</p>
        <p>これはなんででしょうか</p>
        <br><br>
        <p>先の上司との話でのニュアンスは</p>
        <p>「社内に踏まなくてはいけないフローが存在する」</p>
        <p>「それをスムーズに進めるために根回しをする」</p>
        <p>という行動について「政治」という比喩を使いました</p>
        <p>しかし上司は「政治」という言葉にもっと限定的な意味があると言い</p>
        <p>「社内で踏まなくてはいけないフローが存在する」ということを通すために</p>
        <p>「『不本意だが』スムーズに進めるために根回しを『しなくてはならい』」</p>
        <p>という状況が政治ということだと言っていました</p>
        <p>その延長線上に</p>
        <p>「もし社内にそういう状況があるのならばこの会社にはいられない」</p>
        <p>という発言があります</p>
        <br><br>
        <p>よくよく考えてみればおかしな話で</p>
        <p>人と人が一緒に働いているのであれば</p>
        <p>そして誰かが決裁権を持つというフローが存在しているのであれば</p>
        <p>そこには正式なフローを通す前に「事前当て」をする</p>
        <p>クッションの段階が発生してしまいがちですし</p>
        <p>それは裏道であり正しい状態ではありません</p>
        <p>そしてそれは決裁権者も稟議を上げる側も</p>
        <p>スムーズなフローを踏むためにやっていることなので</p>
        <p>決して「不本意ながら」やっていることではないのです</p>
        <p>そうなると正しい状態でない事を引き起こしている原因としては</p>
        <p>決済フローが正常でないこと以外には考えられませんし</p>
        <p>決済フロー自体をなくす事はチームで活動している以上はできません</p>
        <br><br>
        <p>現職ではマネージャーや社長が度々</p>
        <p>「勝手にやってくれる人を望む」</p>
        <p>といった事を発言しますが</p>
        <p>それが起きない原因はその発言をしている管理職にありますし</p>
        <p>実際に勝手に事が起きて困るのは管理職です</p>
        <p>本当に政治の無い勝手に物事が進行していく状態を作るのであれば</p>
        <p>それはチームではなく個の集まりになってしまいます</p>
        <p>政治が発生する事を許容し</p>
        <p>発生する細かな「政治」が悪政にならないようにコントロールしていくのが</p>
        <p>管理者としてあるべき心づもりなのかなと思います</p>
        <br><br>
        <p>一方前職の社長が言う「宗教」は</p>
        <p>チームとして、ないしは組織として</p>
        <p>「どっちの判断でも良いでしょ」というニュアンスを含んでいます</p>
        <p>つまり、まさに「信仰の自由」です</p>
        <p>これをチームで強制させることもありますし</p>
        <p>逆に強制されたメンバーが反発することもあります</p>
        <p>これは集団におけるルールの設定で</p>
        <p>たとえそれがビジネス宗教であってもチームがそれを選択したのであれば</p>
        <p>「改宗」か「離脱」かを選ばなくてはいけません</p>
        <p>中には「隠れキリシタン」のように</p>
        <p>信念を曲げずに表向きだけチームに従う人もいるでしょう</p>
        <br><br>
        <p>チームを運営する上で</p>
        <p>様々なルールの制定が</p>
        <p>チームの状態の可視化に繋がり</p>
        <p>より成果の出せるチームになる事は容易に想像できます</p>
        <p>しかしそこに宗派の違う人が入り込んできた時に</p>
        <p>チームのルールとして強制する事は大変心苦しい反面</p>
        <p>染まってもらわないとその人だけ例外として見続けなければならず</p>
        <p>ひとつの例がを許せば全体の崩壊が見え隠れしてきます</p>
        <br><br>
        <p>これも「政治」の話の中で出てきた</p>
        <p>ルールの話で</p>
        <p>ビジネスチームで決められる「ルール」には</p>
        <p>「政治」と「宗教」がつきものなのかなと思うわけです</p>
        <p>真にチームのメンバーがのめり込むチームにしていくには</p>
        <p>ビジネス上の宗教や政治の話は逃げずにきちんと対話をしていくべきですし</p>
        <p>結果として新しい宗教が生まれてしまう事は寛容に受け入れるべきだと思います</p>
        <p>政治理念も宗教の経典も</p>
        <p>その時々の必要に応じて考えられたものだと思いますので</p>
        <p>ビジネスの世界になった途端に</p>
        <p>「必要に応じてルールを制定する」</p>
        <p>という事が出来なくなるのはおかしいです</p>
        <p>また、チームが変われば、メンバーが変われば、目標が変われば</p>
        <p>都度新しいルールを制定していくことになるので</p>
        <p>新しい宗派が出来るのと等価だと思います</p>
        <br><br>
        <p>政治や宗教の悪しき部分と言われるのは</p>
        <p>何かを「強制」することにあると思っています</p>
        <p>同じ思想や信仰を持たぬものに対して</p>
        <p>自分たちの思想や信仰を強制すれば</p>
        <p>そこに軋轢が生まれるのは当然です</p>
        <p>そしてどちらも「集団としての意思」があります</p>
        <p>これはチームを形成する上ではとても手本になる部分だと思っています</p>
        <p>同じ目的を達成するための集団ということですから</p>
        <p>チームビルドの上での達成目標とも言えます</p>
        <br><br>
        <p>対話をもってチームが守っていくルールを決め</p>
        <p>それを「信じる」こと</p>
        <p>良き政治で「運用」していくということは</p>
        <p>必ずしも悪ではなく</p>
        <p>単語に過剰反応して全部蓋をしてしまう状況の方が</p>
        <p>よっぽど悪かなと</p>
        <p>そんな事を最近考えていました</p>
      </div>
    </div>
  </div>
</div>
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="6754681097" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
    </div>
    <div id="col-right" class="col-md-3 col-right">
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="9847748293" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title text-center">ブログ一覧</h3>
      </div>
      <div class="panel-body">
        <label for="blog-search">絞り込みform</label>
        <select id="blog-search" class="form-control">
          <option v-for="list in blogLists" value="{{ list.path }}">{{ list.genre }}</option>
        </select>
      </div>

      <table id="blog-histry" class="table table-striped">
        <tr v-for="list in blogLists">
          <td><a href="{{ list.href }}"><strong>{{ list.title }}</strong></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.blogtype }}</small></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.date }}</small></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="/js/makelist.js"></script>
</body>
</html>
