<!DOCTYPE html>
<html>
<head lang="ja">
<META http-equiv="Content-Type" content="text/html; charset=utf8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="description" content="/blogのブログ一覧"/>
<meta name="keywords" content="/blog"/>
<meta name="createdate" content="2016-04-29"/>
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="article" />
<meta property="og:title" content="/blogのブログ一覧｜ぬるぶろ" />
<meta property="og:description" content="/blogのブログ一覧" />
<meta property="og:site_name" content="ぬるぶろ" />
<meta property="article:author" content="https://github.com/nullblog/" />
<meta property="fb:app_id" content="668279799978855" />
<title>/blogのブログ一覧｜ぬるぶろ</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NWH746"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWH746');</script>
<!-- End Google Tag Manager -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=668279799978855";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
(function() {
  var cx = '016288219579585099976:kl3aw8lrnoo';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ぬるぶろ</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">ホーム</a></li>
        <li class="active"><a href="/blog/">ブログ</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="row">
        <h1 class='col-md-6 col-md-offset-3'>ぬるぶろ</h1>
        <small class='col-md-3 text-right'>更新日:2016-04-29</small>
      </div>
    </div>
    <div id="col-left" class="col-md-3 col-left text-center">
      <div class="row">
        <div class="col-xs-12">
          <gcse:search></gcse:search>
        </div>
        <div class="col-xs-12">
          <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="5277947892" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
    </div>
    <div id='col-center' class="col-md-6 col-center">
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">/blogのブログ一覧</h3>
      </div>
      <table class="table table-striped">
                  <tr>
            <td><a href="/blog/job/20160429.html"><strong>教育と学習に対する自戒</strong></a></td>
            <td><a href="/blog/blog/job/"><strong>/blog/blog/job</strong></a></td>
            <td><a href="/blog/job/20160429.html"><strong>2016-04-29</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/job/20160424.html"><strong>「筋肉質な組織」と「属人化の排除」が難しいという話</strong></a></td>
            <td><a href="/blog/blog/job/"><strong>/blog/blog/job</strong></a></td>
            <td><a href="/blog/job/20160424.html"><strong>2016-04-24</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/job/20160327.html"><strong>『宗教』と『政治』はビジネスの悪なのか</strong></a></td>
            <td><a href="/blog/blog/job/"><strong>/blog/blog/job</strong></a></td>
            <td><a href="/blog/job/20160327.html"><strong>2016-03-27</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/job/20160320.html"><strong>経営者に必要な事は「夢」を語ることである</strong></a></td>
            <td><a href="/blog/blog/job/"><strong>/blog/blog/job</strong></a></td>
            <td><a href="/blog/job/20160320.html"><strong>2016-03-20</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/personal/20160311.html"><strong>5年</strong></a></td>
            <td><a href="/blog/blog/personal/"><strong>/blog/blog/personal</strong></a></td>
            <td><a href="/blog/personal/20160311.html"><strong>2016-03-11</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/personal/20160309.html"><strong>受け入れるということでストレスから解放されると思っていました。</strong></a></td>
            <td><a href="/blog/blog/personal/"><strong>/blog/blog/personal</strong></a></td>
            <td><a href="/blog/personal/20160309.html"><strong>2016-03-09</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/personal/20160308.html"><strong>こういうのめっちゃ良いじゃん！</strong></a></td>
            <td><a href="/blog/blog/personal/"><strong>/blog/blog/personal</strong></a></td>
            <td><a href="/blog/personal/20160308.html"><strong>2016-03-08</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/teck/20160307.html"><strong>それでも僕は魔法使いになりたい</strong></a></td>
            <td><a href="/blog/blog/teck/"><strong>/blog/blog/teck</strong></a></td>
            <td><a href="/blog/teck/20160307.html"><strong>2016-03-07</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/job/20160228.html"><strong>エンジニアを「リソース」と呼ぶのは悪か</strong></a></td>
            <td><a href="/blog/blog/job/"><strong>/blog/blog/job</strong></a></td>
            <td><a href="/blog/job/20160228.html"><strong>2016-02-28</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/teck/20160226.html"><strong>ブログの成り立ち（2）</strong></a></td>
            <td><a href="/blog/blog/teck/"><strong>/blog/blog/teck</strong></a></td>
            <td><a href="/blog/teck/20160226.html"><strong>2016-02-26</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/teck/20160221.html"><strong>ブログの成り立ち（1）</strong></a></td>
            <td><a href="/blog/blog/teck/"><strong>/blog/blog/teck</strong></a></td>
            <td><a href="/blog/teck/20160221.html"><strong>2016-02-21</strong></a></td>
          </tr>
                  <tr>
            <td><a href="/blog/personal/20160218.html"><strong>初めましてのご挨拶</strong></a></td>
            <td><a href="/blog/blog/personal/"><strong>/blog/blog/personal</strong></a></td>
            <td><a href="/blog/personal/20160218.html"><strong>2016-02-18</strong></a></td>
          </tr>
              </table>
    </div>
  </div>
</div>
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="6754681097" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
    </div>
    <div id="col-right" class="col-md-3 col-right">
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="9847748293" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title text-center">ブログ一覧</h3>
      </div>
      <div class="panel-body">
        <label for="blog-search">絞り込みform</label>
        <select id="blog-search" class="form-control">
          <option v-for="list in blogLists" value="{{ list.path }}">{{ list.genre }}</option>
        </select>
      </div>

      <table id="blog-histry" class="table table-striped">
        <tr v-for="list in blogLists">
          <td><a href="{{ list.href }}"><strong>{{ list.title }}</strong></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.blogtype }}</small></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.date }}</small></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="/js/makelist.js"></script>
</body>
</html>
