<!DOCTYPE html>
<html>
<head lang="ja">
<META http-equiv="Content-Type" content="text/html; charset=utf8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="description" content="当時は9階建てのビルの最上階で仕事をしていました。免震構造だったせいかゆっくりゆっくりと大きな揺れを感じ…"/>
<meta name="keywords" content="3・11,東日本大震災"/>
<meta name="createdate" content="2016-03-11"/>
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="article" />
<meta property="og:title" content="5年｜ぬるぶろ" />
<meta property="og:description" content="当時は9階建てのビルの最上階で仕事をしていました。免震構造だったせいかゆっくりゆっくりと大きな揺れを感じ…" />
<meta property="og:site_name" content="ぬるぶろ" />
<meta property="article:author" content="https://github.com/nullblog/" />
<meta property="fb:app_id" content="668279799978855" />
<title>5年｜ぬるぶろ</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NWH746"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWH746');</script>
<!-- End Google Tag Manager -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=668279799978855";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
(function() {
  var cx = '016288219579585099976:kl3aw8lrnoo';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ぬるぶろ</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">ホーム</a></li>
        <li class="active"><a href="/blog/">ブログ</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="row">
        <h1 class='col-md-6 col-md-offset-3'>ぬるぶろ</h1>
        <small class='col-md-3 text-right'>更新日:2016-03-11</small>
      </div>
    </div>
    <div id="col-left" class="col-md-3 col-left text-center">
      <div class="row">
        <div class="col-xs-12">
          <gcse:search></gcse:search>
        </div>
        <div class="col-xs-12">
          <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </div>
    <div id='col-center' class="col-md-6 col-center">
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">5年</h3>
      </div>
      <div class="panel-body">
        <p><strong>あの日…</strong></p>
        <p>当時は9階建てのビルの最上階で仕事をしていました</p>
        <p>免震構造だったせいか</p>
        <p>ゆっくりゆっくりと大きな揺れを感じ</p>
        <p>社員全員で非常階段で降りました</p>
        <p>家族に連絡を取ろうにも電話はつながらず</p>
        <p>メールは遅延しまくり</p>
        <p>ビルの下で一時たむろしていましたが</p>
        <p>上長からの指示で避難場所へ移動しました</p>
        <br><br>
        <p>それまで遠足の様な雰囲気だったのですが</p>
        <p>避難所で流れるニュース映像で</p>
        <p>被害の甚大さを知りました</p>
        <p>阪神淡路大震災の時も</p>
        <p>米国同時多発テロの時も</p>
        <p>ニュース映像は現実感が無く</p>
        <p>遠い土地のお話でした</p>
        <p>東日本大震災も</p>
        <p>第一報は遠いお話だったのです</p>
        <br><br>
        <p>しばし辛い映像を見た後</p>
        <p>それぞれ同じ方向同士でまとまって帰りました</p>
        <p>都内は歩く人飲む人</p>
        <p>そして多くのタクシーとレンタカーでごった返していました</p>
        <p>山手線圏内を出るまではとにかく</p>
        <p>人の波でした</p>
        <p>中にはまだ実情を知らない人も多かったと思いますし</p>
        <p>私もまだ本当の全容を知りませんでした</p>
        <br><br>
        <p>テレビのニュースに</p>
        <p>友人たちの情報</p>
        <p>東京でも多くの機関が麻痺し</p>
        <p>不安が日々を包みました</p>
        <br><br>
        <p>なんかね</p>
        <p>毎年思い出してみても</p>
        <p>やっぱり辛いんですよね</p>
        <p>日本は地震大国ですし</p>
        <p>日本で過ごしている限りは</p>
        <p>地震とは切っても切れない関係なんだとわかっていても</p>
        <p>多くの方が亡くなり</p>
        <p>多くの方が未だに故郷に帰れないこと</p>
        <p>価値観がぐるっと変わってしまったこと</p>
        <p>やっぱりつらいです</p>
        <p>難しい話はたくさんあるのですが</p>
        <p>あの日を境に知った大切なことを覚えているために</p>
        <p>毎年ちゃんと思い出せればと思います</p>
      </div>
    </div>
  </div>
</div>
    </div>
    <div id="col-right" class="col-md-3 col-right">
      <div class="panel-heading">
        <h3 class="panel-title text-center">ブログ一覧</h3>
      </div>
      <div class="panel-body">
        <label for="blog-search">絞り込みform</label>
        <select id="blog-search" class="form-control">
          <option v-for="list in blogLists" value="{{ list.path }}">{{ list.genre }}</option>
        </select>
      </div>

      <table id="blog-histry" class="table table-striped">
        <tr v-for="list in blogLists">
          <td><a href="{{ list.href }}"><strong>{{ list.title }}</strong></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.blogtype }}</small></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.date }}</small></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="/js/makelist.js"></script>
</body>
</html>
