<!DOCTYPE html>
<html>
<head lang="ja">
<META http-equiv="Content-Type" content="text/html; charset=utf8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="createdate" content="2016-05-30"/>
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="article" />
<meta property="og:title" content="インターネットでのやり取りは日本の古き良き奥ゆかしさとは対極にあるんじゃないかというお話｜ぬるぶろ" />
<meta property="og:description" content="" />
<meta property="og:site_name" content="ぬるぶろ" />
<meta property="article:author" content="https://github.com/nullblog/" />
<meta property="fb:app_id" content="668279799978855" />
<title>インターネットでのやり取りは日本の古き良き奥ゆかしさとは対極にあるんじゃないかというお話｜ぬるぶろ</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NWH746"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWH746');</script>
<!-- End Google Tag Manager -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=668279799978855";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
(function() {
  var cx = '016288219579585099976:kl3aw8lrnoo';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ぬるぶろ</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">ホーム</a></li>
        <li class="active"><a href="/blog/">ブログ</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="row">
        <h1 class='col-md-6 col-md-offset-3'>ぬるぶろ</h1>
        <small class='col-md-3 text-right'>更新日:2016-05-30</small>
      </div>
    </div>
    <div id="col-left" class="col-md-3 col-left text-center">
      <div class="row">
        <div class="col-xs-12">
          <gcse:search></gcse:search>
        </div>
        <div class="col-xs-12">
          <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="5277947892" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
    </div>
    <div id='col-center' class="col-md-6 col-center">
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">インターネットでのやり取りは日本の古き良き奥ゆかしさとは対極にあるんじゃないかというお話</h3>
      </div>
      <div class="panel-body">
        <p><strong>言葉を扱うというのはとても大変なことなんですよね</strong></p>
        <p>最近某SNSで一緒にバンドをやっているおじさまたちのやり取りを見ていて</p>
        <p>ちょっともやもやしてしまいました。</p>
        <p>数カ月に一度集まってライブに出る仲間なのですが</p>
        <p>昔から活躍しているシンガーソングライターの方のカバーバンドなので</p>
        <p>平均年齢も高く</p>
        <p>毎回メンバー招集をしているため</p>
        <p>パートもメンバーも流動的です。</p>
        <p>前回は私は出られなかったのですが</p>
        <p>ライブまでのやり取りやライブ後の感想など</p>
        <p>某SNSのライブトピックに上がっていたので読んでいました。</p>
        <br><br>
        <p><strong>「出過ぎた発言」なのか「神経質すぎる」のか</strong></p>
        <p>ライブの感想として</p>
        <p>「あれが良かった」とか「ここは次回気を付けよう」とか</p>
        <p>そんな事が書かれていました。</p>
        <p>ちょっと言い方がきつい人もいますし</p>
        <p>ちょっと思い込みで書いているのかな？と思う事もありますが</p>
        <p>まあ概ねその人が思った事には違いないのだろう</p>
        <p>と思って読んでいました。</p>
        <p>ところがそれに対して</p>
        <p>「非常に気分を害した」という旨の書き込みをしている人が出てきました</p>
        <p>曰く</p>
        <p>「楽しくバンドとして活動したいだけなのに練習の時からキツい物言いをされる事が気になっていた」</p>
        <p>「一人ひとりを取り上げて講評をするような事をする必要があるのか」</p>
        <p>という内容でした</p>
        <br><br>
        <p><strong>過激な発言は無視をされる</strong></p>
        <p>これは某巨大掲示板での事例で身についた</p>
        <p>耐性とも言うべき文化とは思いますが</p>
        <p>スレッドの流れと大きく乖離した話題を投稿し続ける人や</p>
        <p>流れに合っているようでいわゆる「煽り」を繰り返す人は</p>
        <p>基本的には「反応せずに無視する」が良いとされています。</p>
        <p>煽りを繰り返す人は「自己承認欲求」が強すぎてそのような行動に出るとされていますし</p>
        <p>そこに反応をしてしまうと延々と相手をしなくてはいけなくなり</p>
        <p>本来のスレッドの役割を全うできなくなるためです。</p>
        <p>実際に「楽しくない」と騒いでいる人は</p>
        <p>そのスレッドに定期的に書き込みをしているものの</p>
        <p>実際は流れに影響が出ない程度に放置されています。</p>
        <br><br>
        <p><strong>「言わない」という文化が「言うこと」を下手にさせてしまったんじゃないか</strong></p>
        <p>日本には古来からわざわざ言葉にして表現するのは無粋であるという</p>
        <p>「粋」とか「わびさび」とか「奥ゆかしさ」とか</p>
        <p>そういう文化があります。</p>
        <p>そういった文化が良くないというよりは</p>
        <p>対面よりも電話よりもさらに心の距離が遠く</p>
        <p>チャットほどのリアルタイム性が無い掲示板において</p>
        <p>本来であればストレートな表現でないと伝わらないようなことも</p>
        <p>いつもの癖でついつい回りくどく書いてしまい</p>
        <p>結果的にうまく伝わらなかったり</p>
        <p>あるいは書いてある直接的な表現に面食らってしまったりということもあるのかなと</p>
        <p>そんな事を感じました。</p>
        <br><br>
        <p><strong>「あなたの常識は世界の常識ではない」ということの本当の意味</strong></p>
        <p>刑法や条例で定められていないような</p>
        <p>いわゆる「モラル」や「常識」といったものを振りかざす人がいますが</p>
        <p>残念ながら常識は非常に主観的なものです。</p>
        <p>ラーメン屋に行ったらまずは麺から食べなくちゃいけないとか</p>
        <p>部下は上司のお酌をしなければいけないとか</p>
        <p>そんなのは「ここでの常識はこれだから」という事を言わなければいけない</p>
        <p>ただのローカルルールに過ぎません。</p>
        <p>それをさも「世界の常識である」かのように振る舞う人は</p>
        <p>自身が普段住んでいるわけではない世界に行った時につま弾きにされるのはある意味当然ですし</p>
        <p>「郷に入れば郷に従え」の精神で学ばなければいけないのです。</p>
        <p>逆に自身のテリトリーに「常識の通じない奴」が入ってきたとしても</p>
        <p>それはただ単に「ローカルルールを知らない」だけで</p>
        <p>だめな奴とか変な奴ではない事が多いと思うのです。</p>
        <br><br>
        <p><strong>年齢を重ねると頭が固くなるの意味</strong></p>
        <p>これは想像でしかないのですが</p>
        <p>やはり自身で勝手に信じている「常識」が</p>
        <p>だんだん世界の常識と勘違いして定着していってしまうのではないかなと。</p>
        <p>そこには別々のローカルルールを持った人がたくさん生活していて</p>
        <p>お互いに融通し合って認め合って生きているという事が</p>
        <p>すっぽり抜け落ちてしまうのかなと</p>
        <p>そんな事を考える一件でした。</p>
      </div>
    </div>
  </div>
</div>
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="6754681097" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
    </div>
    <div id="col-right" class="col-md-3 col-right">
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="9847748293" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title text-center">ブログ一覧</h3>
      </div>
      <div class="panel-body">
        <label for="blog-search">絞り込みform</label>
        <select id="blog-search" class="form-control">
          <option v-for="list in blogLists" value="{{ list.path }}">{{ list.genre }}</option>
        </select>
      </div>

      <table id="blog-histry" class="table table-striped">
        <tr v-for="list in blogLists">
          <td><a href="{{ list.href }}"><strong>{{ list.title }}</strong></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.blogtype }}</small></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.date }}</small></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="/js/makelist.js"></script>
</body>
</html>
