<!DOCTYPE html>
<html>
<head lang="ja">
<META http-equiv="Content-Type" content="text/html; charset=utf8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="createdate" content="2016-05-13"/>
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="article" />
<meta property="og:title" content="『青春100キロ』が最高ってレビューを見て観に行ったら確かに最高だった件｜ぬるぶろ" />
<meta property="og:description" content="" />
<meta property="og:site_name" content="ぬるぶろ" />
<meta property="article:author" content="https://github.com/nullblog/" />
<meta property="fb:app_id" content="668279799978855" />
<title>『青春100キロ』が最高ってレビューを見て観に行ったら確かに最高だった件｜ぬるぶろ</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NWH746"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWH746');</script>
<!-- End Google Tag Manager -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=668279799978855";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
(function() {
  var cx = '016288219579585099976:kl3aw8lrnoo';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ぬるぶろ</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">ホーム</a></li>
        <li class="active"><a href="/blog/">ブログ</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="row">
        <h1 class='col-md-6 col-md-offset-3'>ぬるぶろ</h1>
        <small class='col-md-3 text-right'>更新日:2016-05-13</small>
      </div>
    </div>
    <div id="col-left" class="col-md-3 col-left text-center">
      <div class="row">
        <div class="col-xs-12">
          <gcse:search></gcse:search>
        </div>
        <div class="col-xs-12">
          <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="5277947892" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
    </div>
    <div id='col-center' class="col-md-6 col-center">
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">『青春100キロ』が最高ってレビューを見て観に行ったら確かに最高だった件</h3>
      </div>
      <div class="panel-body">
        <p><strong>レビューに踊らされて観に行ってきました</strong></p>
        <p>4月末に</p>
        <p>何かのニュースサイト経由で</p>
        <p><a href='http://kai-you.net/article/28365' target='_blank'>最後に上原亜衣とSEXしたい　一般男性のドキュメンタリー『青春100キロ』が最高だった</a></p>
        <p>という記事を見ました。</p>
        <p>普段は映画をほとんど観ないのですが</p>
        <p>「これは青春だ！」というレビューに惹かれて</p>
        <p>アンコール上映を観に行きました。</p>
        <br><br>
        <p><strong>青春とはこういうことだ</strong></p>
        <p>書かれたレビューには誇張は微塵もなく</p>
        <p>本当に面白い作品でした</p>
        <p>人が本気にひたむきに何かを目指す姿は</p>
        <p>何事にも代えがたいエンターテイメントなんだと思います</p>
        <p>本気でひたむきな姿を</p>
        <p>映像作品の限られた時間の中で表現されている監督の手腕も素晴らしいと思いますが</p>
        <p>とりあえず作品中は監督も帯同スタッフも</p>
        <p>クズな大人にしか見えないですｗ</p>
        <p>走っているケイ君のひたむきさに対して</p>
        <p>「これ画がつまらないよね」</p>
        <p>「ち●こ出させる？」</p>
        <p>とか話しているわけですｗ</p>
        <p>これはこれで</p>
        <p>「エンターテイメント作品を成立させる」という本気な想いからそういう発言に繋がっているわけですが</p>
        <p>必死で走るケイ君と車と自転車のおじさんスタッフ達の対比が素敵でしたね</p>
        <br><br>
        <p><strong>青春した人と青春したかった人が感情移入できる</strong></p>
        <p>映画自体は職場の友人と一緒に行ったのですが</p>
        <p>友人はごくごく普通に学生時代を過ごして</p>
        <p>ごくごく普通にベンチャー企業に就職して</p>
        <p>ごくごく普通のブラックさに打ちのめされて覚醒してしまった人です</p>
        <p>対して私は高校時代に吹奏楽部で全日本に出場したり</p>
        <p>高校時代の彼女と結婚したりと</p>
        <p>青春を謳歌している方だと思います</p>
        <p>ここで言う「青春」は</p>
        <p>人生の一部の時間でも</p>
        <p>自分の持っているもの全てを懸けて何かに取り組んだのか</p>
        <p>ということです</p>
        <p>他のものを全部捨てる覚悟で</p>
        <p>ただ一つの目標のために</p>
        <p>時間も体力も知識も全部一点に集中した経験があるのかと</p>
        <p>映画を観たあとに友人と飲んでいて</p>
        <p>「青春をした人は強いし青春が出来る人は羨ましい」</p>
        <p>という話が出ました</p>
        <p>大人になると色々なしがらみのせいでなかなか青春が出来ないものです</p>
        <br><br>
        <p>何かに本気になる事はとても疲れる事です</p>
        <p>以前楽器の講師をしていた時には</p>
        <p>生徒に常に言っていたのですが</p>
        <p>楽器を上達するという事は</p>
        <p>自分と向き合い続けるということです</p>
        <p>本当はみんな自分の中に理想の自分を飼っていて</p>
        <p>それが現実の自分と一致しない事にイライラしたり</p>
        <p>そこに到達するまでの道程がわからなくなってしまっているのです</p>
        <p>理想の自分と現実の自分をきちんと見つめて</p>
        <p>今の自分にちょっとずつでも近づけていく事を続ける事は</p>
        <p>自分の嫌なところを見続けることでもあって</p>
        <p>とても辛いことですし</p>
        <p>ある程度そこは鈍感にならないと日々の生活がままならなくなってしまうものです</p>
        <p>芸術の世界で奇才とか天才とか言われる人は</p>
        <p>自身を見つめ続ける力があること</p>
        <p>それを継続しているからなのかなという気がします</p>
        <p>疲れてしまうから大人になると本気になることを避けてしまうのです</p>
        <br><br>
        <p>本気の人を羨ましいなと思えるのは</p>
        <p>やっぱりそういう風に自分と向き合って</p>
        <p>自分の理想に自分を近づけたいからなんじゃないかなと</p>
        <p>そんな事を思うわけです</p>
        <p>とても大変なことではありますが</p>
        <p>大人になってからでも</p>
        <p>本気になりたいことには本気で取り組んだ方が良いと思うのです</p>
        <p>人生は何もしないには長すぎますし</p>
        <p>何かを実現するには短すぎるらしいのです</p>
        <p>周囲の協力は必要になりますが</p>
        <p>そういう風に生きた方が</p>
        <p>もやもやしながら言い訳をしながら過ごすよりも</p>
        <p>ずっと幸せだと思うのです</p>
      </div>
    </div>
  </div>
</div>
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="6754681097" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
    </div>
    <div id="col-right" class="col-md-3 col-right">
      <div class="row text-center">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806842962334528" data-ad-slot="9847748293" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title text-center">ブログ一覧</h3>
      </div>
      <div class="panel-body">
        <label for="blog-search">絞り込みform</label>
        <select id="blog-search" class="form-control">
          <option v-for="list in blogLists" value="{{ list.path }}">{{ list.genre }}</option>
        </select>
      </div>

      <table id="blog-histry" class="table table-striped">
        <tr v-for="list in blogLists">
          <td><a href="{{ list.href }}"><strong>{{ list.title }}</strong></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.blogtype }}</small></a></td>
          <td><a href="{{ list.href }}"><small>{{ list.date }}</small></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="/js/makelist.js"></script>
</body>
</html>
